* {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: bebasKai;
  src: url("BebasKai.woff");
}

h1,
h2,
h3,
h4 {
  font-family: bebasKai, bison, sans-serif;
}

p {
  font-weight: 300;
}

a:link,
:visited {
  color: black;
}

a:hover {
  cursor: pointer;
}

body {
  margin: 0;
}

#header {
  background-image: url(imgs/squares.svg);
  height: 244px;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

header h1 {
  margin: 50% 0 50% 0;
  font-size: 50px;
}

.hamburger {
  display: none;
}

#chaticon {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 60px;
  border-radius: 5px;
}

#navigation {
  background-color: black;
  color: white;
  display: flex;
  margin: 0;
  height: 45px;
  align-items: center;
  position: sticky;
  top: 0;
  justify-content: space-between;
  padding: 0 10vw;
}

#navigation li {
  list-style: none;
}

section:nth-child(even) {
  background-color: black;
  color: white;
}

#section1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

#video {
  width: 100%;
  min-width: 300px;
  min-height: 200px;
  height: 25vw;
  box-shadow: -3px 3px;
  margin: 20px 0px;
}

#socials {
  font-size: 12px;
}
#socials a {
  padding-right: 10px;
}

#section1left {
  margin-bottom: 30px;
}

#section1 button {
  height: 40px;
  background-color: white;
  font-size: 16px;
  font-weight: 300;
  border: 1px solid black;
}

#section1 button:hover {
  position: relative;
  left: 3px;
  bottom: 3px;
  box-shadow: -3px 3px;
  cursor: pointer;
}

h2 {
  font-size: 28px;
  margin-bottom: 0px;
  margin-top: 0;
  padding: 20px 0px;
}

h3 {
  font-size: 24px;
  padding-top: 0px;
  height: 48px;
}

#section2cols {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}

.centred {
  width: 80vw;
  margin: 0 auto;
}

.section3box {
  border: 1px solid black;
  margin: 0px 0px 30px 0px;
  padding: 20px;
  box-shadow: -3px 3px;
}

.section3box h3 {
  border-bottom: 1px solid black;
  margin-top: 0;
}

.section3cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

#section4cols {
  display: grid;
  margin: 0;
  padding-bottom: 60px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}

#logos {
  width: 100%;
}

#section6cols {
  display: grid;
  padding-bottom: 60px;
  padding-top: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}

#section6cols p {
  font-size: 12px;
}

#footersection {
  background-color: black;
}

footer {
  background-color: black;
}

footer p {
  color: white;
  height: 60px;
  padding: 0;
  margin: 0;
  font-size: 12px;
}

@media all and (max-width: 800px) {
  header h1 {
    font-size: 36px;
  }
  #section2cols {
    grid-template-columns: 1fr 1fr;
  }
  #section4cols {
    grid-template-columns: 1fr 1fr;
  }
  #section6cols {
    grid-template-columns: 1fr 1fr;
  }

  #navigation {
    display: none;
  }

  .hamburger {
    display: flex;
    background-color: black;
    color: white;
    height: 30px;
  }

  .hamburger p {
    display: inline-block;
    color: white;
    width: fit-content;
    transform: rotate(90deg);
    align-self: center;
    padding-bottom: 40px;
    padding-top: 20px;
    font-size: 32px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .hamburger-content {
    display: none;
    position: absolute;
    left: -40px;
    top: 260px;
    z-index: 1;
  }

  .hamburger:hover .hamburger-content {
    display: block;
  }

  .hamburger-content ul li {
    list-style-type: none;
    display: flex;
    background-color: black;
    padding: 10px;
  }

  .hamburger-content ul li a {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
  }
}

@media all and (max-width: 600px) {
  #section1 {
    grid-template-columns: 1fr;
  }
  #section2cols {
    grid-template-columns: 1fr;
  }
  .section3cols {
    grid-template-columns: 1fr;
  }
  #section4cols {
    grid-template-columns: 1fr;
  }
  #section6cols {
    grid-template-columns: 1fr;
  }
}
